streamlit
deep-translator
gTTS
easyocr
opencv-python-headless
pillow
torch
transformers
sentencepiece
dotenv
# Core LangChain ecosystem
langchain
langchain-community
langchain-
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain_experimental
langchain-memory
openpyxl
tabulate
faiss-cpu
sentence-transformers
faiss-cpu
sentence-transformers