streamlit
deep-translator
gTTS
easyocr
opencv-python-headless
pillow
torch
transformers
sentence-transformers
sentencepiece
dotenv
langchain==0.2.16
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain_experimental
openpyxl
tabulate
faiss-cpu
pydantic==2.8.2
pydantic-core
pypdf
pyarrow